@font-face {
  font-family: 'Recursive';
  src: url('/RecursiveMonoLnrSt-Light.woff2');
}

:root {
  --bg: #222;
  --tc: #fff;
  --lc: #fff;
  --bc: #fff;
  --bbc: #333;
  --gbc: #252525;
  --fmc: #333;
  --sbc: #666;
  --stc: #fff;
  --pc: #070707;
  --pbbc: #333;

  --inputColor: #0ff;
  --inputAlertColor: #f00;

  /* font-family: monospace; */
  font-family: 'Recursive';
  font-size: 16px;
  color: var(--tc);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#canvas {
  width: 100%;
  height: 100%;
  outline: none;
}

#error,
#volume,
#dihedralAngle,
#formula,
#FEVCount,
#alertInfo,
#activityIndicator {
  position: absolute;
  text-align: right;
  height: 22px;
  user-select: none;
  /* background-color: #077; */
}
#error {
  top: 11px;
  width: 80px;
  right: 20px;
}
#volume {
  top: 38px;
  width: 80px;
  right: 20px;
}
#dihedralAngle {
  top: 65px;
  right: 20px;
  width: 90px;
}
#activityIndicator {
  top: -9px;
  right: 0px;
  width: 90px;
}
#formula {
  bottom: 14px;
  left: calc(100vw / 2 - 100px);
  width: 200px;
  text-align: center;
  font-size: 22px;
}
sub {
  font-size: 0.8em;
}
#FEVCount {
  bottom: 10px;
  right: 20px;
  width: 200px;
}
#alertInfo {
  bottom: 52px;
  left: calc(100vw / 2 - 200px);
  text-align: center;
  width: 400px;
  color: #f00;
}

#logo {
  opacity: 0.5;
  height: 32px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 12px;
}
#logo:hover {
  opacity: 1;
}

button {
  position: absolute;
  background-color: var(--bbc);
  opacity: 0.5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--bc);
  height: 22px;
  font-size: 16px;
  font-family: inherit;
  user-select: none;
}
button:hover {
  opacity: 0.7;
}
button:disabled {
  opacity: 0.1;
  cursor: default;
}
.switchButtonOff {
  background-color: var(--bbc);
  color: var(--bc);
}
.switchButtonOn {
  background-color: var(--bc);
  color: var(--bbc);
}
.verticalButton {
  right: 10px;
  width: 22px;
}
.verticalButton > span {
  /* used for vertical text */
  writing-mode: vertical-rl;
  vertical-align: middle;
  line-height: 12px;
}
.structureButton {
  height: 24px;
  background: none;
  opacity: 0.9;
  border: 1px solid var(--pbbc);
}

#allowTetrahedra {
  position: absolute;
  left: 18px;
  bottom: 50px;
  cursor: default;
  background: none;
}
select,
option {
  cursor: pointer;
  background-color: var(--bbc);
  color: var(--bc);
}

/*------------------------------------*/
svg > path {
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

/* panel -----------------------------*/

.panel {
  position: absolute;
  background-color: var(--pc);
  opacity: 0.9;
  font-size: 16px;
  color: #fff;
  right: 37px;
  width: 300px;
  height: calc(100vh - 200px);
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  user-select: none;
  visibility: hidden;
  padding-bottom: 20px;
  border-radius: 4px;
}

.panel::-webkit-scrollbar {
  display: none;
}

.panel > p,
.panel > svg,
.panel > button,
.panel > .sliderContainer,
.panel > #canvasContainer,
.panel > input {
  position: relative;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 0;
  width: 300px;
  user-select: none;
}

.panel .switchButtonOff {
  background-color: var(--pbbc);
  color: var(--bc);
}

.panel .switchButtonOn,
.panel .pushButton:active {
  background-color: var(--bc);
  color: var(--pbbc);
}

/* slider ------------- */
.sliderContainer {
  position: relative;
  height: 20px;
  margin: auto;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 4px;
  background: var(--sbc);
  opacity: 0.5;
}
.sliderContainer:hover {
  opacity: 0.7;
}
.sliderContainer > p {
  position: absolute;
  left: 5px;
  height: 20px;
  margin: 0;
  padding: 0;
  text-align: left;
}
.slider {
  position: absolute;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 20px;
  background: none;
  outline: none;
  border: none;
  cursor: inherit;
  margin: 0;
  border-radius: 4px;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 3px;
  appearance: none;
  outline: none;
  border: none;
  width: 20px;
  height: 20px;
  background: var(--stc);
  opacity: 0.5;
}
.slider::-moz-range-thumb {
  appearance: none;
  border-radius: 3px;
  outline: none;
  border: none;
  width: 20px;
  height: 20px;
  background: var(--stc);
  opacity: 0.5;
}

#forceSlider {
  position: absolute;
  top: 10px;
  left: 220px;
  background: none;
  border: 1px solid var(--sbc);
}
.alert {
  color: #f44;
  opacity: 0.6;
}

/*#addRadioBut {
  left: 10px;
  top: 42px;
}
#flipRadioBut {
  left: 60px;
  top: 42px;
}
#collapseRadioBut {
  left: 120px;
  top: 42px;
}*/

#subdivideBut {
  left: 370px;
  top: 10px;
}

.tooltip {
  visibility: hidden;
  font-size: 12px;
  background-color: #111;
  color: var(--tc);
  text-align: left;
  padding: 5px;
  border-radius: 4px;
  opacity: 0;
  transition: all 1s;
  position: absolute;
  pointer-events: none;
  z-index: 1;
}
*:hover > .tooltip {
  visibility: visible;
  opacity: 1;
  transition: all 1s;
}
